<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatSphere</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="home-body">

    <div class="home-container">
        <h1 class="home-title">ChatSphere</h1>
        <p class="home-subtitle">
            A simple messaging interface built with Express, MongoDB & EJS.
        </p>

        <div class="home-buttons">
            <a href="/chats" class="primary-btn">See All Chats</a>
            <a href="/chats/new" class="secondary-btn">Create New Chat</a>
        </div>
    </div>

</body>

</html>